services:
  db:
    container_name: postgres-spring-ecommerce
    image: postgres:latest
    environment:
      POSTGRES_USER: mhamedkbt
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5442:5432"
    networks:
      - db
    restart: unless-stopped


networks:
  db:
    driver: bridge

volumes:
  db: